/* Tùy chỉnh thanh cuộn cho toàn bộ dự án hoặc các thẻ có class overflow-y-auto */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #374151; /* Màu gray-700 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* Màu gray-600 khi hover */
}
